:host {
  display: block;
  height: 100%;
}

div::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(45, 212, 191, 0.35);
  border-radius: 999px;
}

// Custom scrollbar styling for the main chat container
main {
  // For Webkit-based browsers (Chrome, Safari, new Edge)
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; // Make the track background transparent
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4a5568; // A subtle dark gray for the thumb
    border-radius: 10px;
  }
}